<h3><%= @song.title %></h3>

<p>
  Artist: <%= @song.artist %>
</p>

<p>
  <a href= "<%= @song.url %>">Listen Here</a>
</p>

<p>
  Vote Rating: <%= @song.votes.upvotes - @song.votes.downvotes %> 
</p>

<form action="/songs/<%= @song.id %>/upvotes" method="post">
  <button type="submit" value="Submit" class="btn btn-default col-sm-1">
    Upvote
  </button>
</form>

<form action="/songs/<%= @song.id %>/downvotes" method="post">
  <button type="submit" value="Submit" class="btn btn-default col-sm-1">
    Downvote
  </button>
</form>

